<div class="row-flex">

	<div class="pic">
		<img src="/images/me.jpg" />
	</div>

	<div class="blurb-links">
		<p class="paragraph-text"> 
			Welcome to my blog, where I tell true travel tales, opine on exercise, ponder politics of public education, or say how good my surf session was. If you share my hobby ADD, read on! 
		</p>

		<a class="front-link" href="/blog/planes_towtrucks.ejs">
			Planes, Towtrucks, and Automobiles
		</a>

		     <main class="content">
        <% include partials/content/blogcontent.ejs %>
      </main>

	</div>

</div>