<div class="row-flex">

	<div class="pic">
		<img src="/images/novel_cover_lowrez.jpg" />
	</div>

	<div class="blurb-links">
		<p class="paragraph-text"> 
			What's more dangerous: asteroids and space aliens, or swirlies and high school punks? Join Matt, an up-and-coming graphic artist, as he navigates his own coming-of-age freshman year universe while relating in his sketchbook just how much high school feels like a dystopian space prison in which there are no rules, no order, and no friends.
		</p>

		<% for (i=0 ; i<mainUrls.length ; i++) { %>
		  <a class="front-link" href="<%= mainUrls[i].url %>">
		    <%= mainUrls[i].shortname %>
		  </a>
		<% } %>

		

	</div>

</div>