<div class="row-flex">

	<div class="pic">
		<img src="/images/novel_cover_lowrez.jpg" />
	</div>

	<div class="blurb-links">
		<p class="paragraph-text"> 
			Charleston Daily: What do you want your readers to take away from your novel?
			Marc S. Kruza: Adolescence is only a temporary condition. Asking for help in times of severe psychological stress is a sign of strength, not weakness.
		</p>

		<a class="front-link" href="http://charlestondaily.net/mount-pleasant-author-inspires-young-readers-with-new-hybrid-graphic-young-adult-novel/">
			Author Interview with Charleston Daily
		</a>

		<!-- Interview / Chat with Charleston Daily -->

		<% for (i=0 ; i<mediaUrls.length ; i++) { %>
		  <div class="speech-cloud left">
		    <%= mediaUrls[i].left_cloud %>
		  </div>

		  <div class="circle-pic circle-pic-cd">
		  	<p> <%= mediaUrls[i].left_text %> </p> 
		  </div>
		  
		  <div class="speech-cloud right">
		    <%= mediaUrls[i].right_cloud %>
		  </div>

		  <div class="circle-pic circle-pic-headshot">
		  	<img src=" <%= mediaUrls[i].right_image %> " /> 
		  </div>


		<% } %>


	</div>

</div>

