:root {
  --my-yellow: #ffff00;
  --my-blue: #0000ff;
  --my-dark-blue: #003366;
  --my-white: #ffffff;
  --my-black: #000000;
  --my-gray:  #aaaaaa;
/*  --my-sepia: #674F23;*/
  --my-sepia: 	#704214;
}

