.content h2 {
	color: var(--my-yellow);
	font: sans-serif;
	font-family: 'Permanent Marker', cursive;
	font-style: none;
	font-size: 3vh;
}

.content p.miniblog-text {
  color: var(--my-gray);
  font-family: 'Arial', cursive;
  padding-bottom: 1vh;
    text-align: justify;
}