* {
  padding: 0;
  margin: 0;
}

body {
  background: var(--my-black);
  font-size: 1.2em;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.row-flex {
  flex: 1 1 auto;
  display: flex;
}

.main-header {
  margin: 2vh;
  background: var(--my-black);
  color: var(--my-sepia);
  flex: 0 0 auto;
  font-size: 4vh;
  font: sans-serif;
  font-family: Orbitron;
  height: 5vh;
}

.main-footer {
  background: var(--my-var);
  flex: 0 0 auto;
}

/* OPTION 1: MOVING SIDEBARS 

.primary-sidebar {
  background: var(--my-black);
  flex: 0 0 auto;
  width: 10%;
}

.secondary-sidebar {
  background: var(--my-black);
  flex: 0 0 auto;
  width: 5%;
}

.content {
  flex: 1 1 auto;
  min-width: 400px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,0.9)), to(transparent));
  background-color: var(--my-sepia);
}

/ END OPTION 1

*/

/* OPTION 2: FIXED SIDEBARS */ 

.primary-sidebar {
  background: var(--my-black);
  position: fixed;
  width: 10%;
  left: 0;
}

.secondary-sidebar {
  background: var(--my-black);
  position: fixed;
  width: 5%;
  right: 0;
}

.content {
  flex: 1 1 auto;
  min-width: 400px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,0.9)), to(transparent));
  background-color: var(--my-sepia);
  margin-left: 10%;
  margin-right: 5%;
}

/* END OPTION 2 */

.content p.paragraph-text {
  color: var(--my-blue);
  font-family: 'Audiowide', cursive;
  padding-bottom: 1vh;
}

.content p.paragraph-text:after {
  content:" ";
  display: inline-block;
  vertical-align:bottom;
  height: 1px;
  width: 100%;
  background: var(--my-white);
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(1,0,0,1)), to(transparent));
}