<title><%= pageID %> -- <%= pageTitle %></title>

<!--- stylesheets --> 
<link rel='stylesheet' href='/css/normalize/normalize.css' >
<link rel='stylesheet' href='/css/style.css' >
<link rel='stylesheet' href='/css/front_style.css' >
<link rel='stylesheet' href='/css/social_style.css' >
<link rel='stylesheet' href='/css/maincontent.css' >
<link rel='stylesheet' href='/css/color.css' >
<link rel='stylesheet' href='/css/mediacontent.css' >

<!-- set favicon -->
<link rel="icon" type="image/png" href="/images/msk_logo.jpg">

<!-- viewport config -->
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<link href='https://fonts.googleapis.com/css?family=Open+Sans|Roboto+Slab' rel='stylesheet' type='text/css'>

<!-- viewport config: no horizontal scroll -->
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- links for fonts --> 
<link href="https://fonts.googleapis.com/css?family=Permanent+Marker" rel="stylesheet"> 
<link href="https://fonts.googleapis.com/css?family=Orbitron" rel="stylesheet"> 
<link href="https://fonts.googleapis.com/css?family=Audiowide" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet"> 

<!--  Reload browser automatically -->
<script src="/reload/reload.js"></script>	

<!-- Bootstrap and JQuery includes -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
